{% extends 'base.html' %}
{% load static %}
{% block title %}

{% endblock %}
{% block stylesheet %}{% endblock %}
{% block profile %}
    <div class="fh5co-bio">
        <figure>
            <img src="{{ user.profile_picture.url }}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
        </figure>
        <h3 class="heading">About Me</h3>
        <h2>{{ user.name.get_full_name }}</h2>
        <p>{{ user.details }}</p>
        <ul class="fh5co-social">
            <li><a href="https://twitter.com/faz_lul_hridoy"><i class="icon-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/hridoy.fazlul"><i class="icon-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/faz_lul_hridoy"><i class="icon-instagram"></i></a></li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="container">
        <h2>Author Table:</h2>
    </div>
    <div class="container">
        <a href="{% url 'add_author' %}" class="btn btn-primary pull pull-right">Add Author</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Authors</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                {% for obj in auth %}
                <tr>
                    <td>{{ obj.name.get_full_name }}</td>
                    <td><a href="{% url 'author_update' uid=obj.id %}" class="btn btn-warning btn-sm">Edit</a> <a href="{% url 'author_delete' uid=obj.id %}" class="btn btn-danger btn-sm">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block script %}

{% endblock %}

